{%- if cookiecutter.project_type in ['cli-app', 'tui-app'] -%}
# Environment variables for {{cookiecutter.project_name}}
# Copy this file to .env and fill in the values.

# LOG_LEVEL=DEBUG
{%- endif %}
